<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td>
        <%= item.id %>
      </td>
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= item.price %>
      </td>
      <%
=begin%>
      <td>
        <%= item.genre.name %>
      </td>
      <%
=end%>
      <% if item.is_active == true %>
      <td>販売中</td>
      <% else %>
      <td>販売停止中</td>
      <% end %>
    </tr>
  </tbody>
  <% end %>